body {
  min-height: 100vh;
  margin: 0;
  min-width: 1200px;
}

#root {
  min-height: 100vh;
}

h2 {
  text-align: center;
  padding-top: 0.5em;
  margin: 0;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.5em 0.5em;
  border: solid 2px black;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inputsDiv {
  width: 25%;
  min-width: 500px;
}

.CVDiv {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.CVContainer {
  /* Try to keep the aspect ratio of this close to A4.
  This would be 1 / 1.4142 = 0.7071 */
  aspect-ratio: 0.7071;
  min-width: 630px;
  max-width: 630px;
  align-self: flex-start;
  width: 70%;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.basicInfoInput {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
}

input {
  margin: 0.2em 0;
  width: clamp(12em, 60%, 20em);
  box-sizing: border-box;
}

.inputDiv {
  border-radius: 8px;
  margin: 4%;
  background-color: #dedede;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  min-width: 450px;
  display: table;
}

.inputDiv > h2 {
  margin-top: 8px;
}

.inputItem {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.educationItem,
.jobItem {
  display: flex;
  flex-direction: row;
  font-size: 1.1em;
}

.jobItem {
  margin: 0.5em 0;
}

.inputPreviewItem {
  border: 2px solid black;
  border-radius: 8px;
  margin: 2%;
}

.inputPreviewItem:hover {
  background-color: #806cda;
  cursor: pointer;
}

.inputPreviewItem > * {
  margin: 2%;
  font-weight: 600;
}

/* Resume styling start*/

.basicInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2dbcfa;
  color: white;
  font-weight: 700;
}

.education,
.jobs {
  display: flex;
  flex-direction: column;
  margin: 0 2em 0 2em;
}

.sectionHeader {
  background-color: #2dbcfa;
  display: flex;
  margin-top: 1em;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

.resumeName {
  font-size: 2.5em;
  margin: 0.5em 0 0.5em 0; /* small-ish top margin but no other ones */
}

.basicInfoRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 0.25em;
}

.basicInfoItem {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.educationItemLeft,
.jobItemLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 30%;
}

.educationItemLeft > p,
.jobItemLeft > p {
  font-weight: 600;
  padding-bottom: 1.5em;
}

.educationItemRight,
.jobItemRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 65%;
}

.bold {
  font-weight: 900;
}

.eduSchool {
  /* eugh, this is uggly */
  margin-top: 16px;
}

h2 {
  margin: 0;
  padding: 0;
}

.jobTitle {
  font-weight: 700;
  margin-bottom: 0.2em;
}
/* Resume styling end */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
